*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;

}

#users
{
    display: flex;
    flex-direction: row;
    background-color: #C4C4C4;
}

.user
{
    text-decoration: none;
    display: block;
    background-color: #8C8B8B;
    color: #000000;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #82FFE8;
}