*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;

}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #82FFE8;
}